.Todo__task{
    display: flex;
    margin-right: 10px;
}

.form-check-input{
    font-size: 25px;
    border-radius: 20rem !important;
    background-color: green !important;
    margin-right: 2em;
    /* border-color: green !important; */
    border: 3px solid green !important;
}

.rounded-pill {
    padding: 7px 16px !important;
}

